:root {
    --primary-color: #292630;
    --secondary-color: #38aff3; /* 158FFF  358fe3 35a3e3*/
    --accent-color: #ff8800; /*FF9900*/
    --text-color: #FFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html {
    height: 100%;
}



/* Configuración MÓVIL */
body {
    color: var(--text-color);
    background-image: url('../assets/img/teclado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100%;
}


/*Diseño del main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: fit-content;
}
main > section {
    margin: 4rem 5%;
    background-color: hsl(202, 89%, 59%, 0.8);
    border-radius: 3px;
    backdrop-filter: blur(3px);
    padding-bottom: 4rem;
}
main > #title {
    background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0, .7) 50%, rgb(0, 0, 0, 0) 70%);
    width: 100%;
    height: 90vh;
    padding: 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#lastname {
    color: var(--accent-color);
}
hr {
    background-color: var(--secondary-color);
    width: 100%;
    height: 1px;
    border: none;
}

    

/*Diseño del footer:*/
#div-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem 2rem 4rem 1rem;
    text-align: right;
}
#social-icons {
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0rem;
    left: 0;
    width: 100vw;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa {
    color: var(--accent-color);
    font-size: 5rem;
}


/* CONTACTO.HTML */
/* Diseño del formulario */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
form > label,
form > div {
    padding: 1rem 0;
}
form > input,
form > textarea {
    width: 100%;
}
form > div > label {
    padding-left: 1rem;
}
form > input[type="submit"] {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 5rem;
    align-self: center;
}

/* BIOGRAFIA.HTML */
#biofgrafia-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#biografia-section > h2 {
    padding : 1rem 0.5rem 0 0.5rem;
    width: 100%;
}
#biografia-section > article {
    padding : 1rem 0.5rem 0 0.5rem;
    max-width: 300px;
}
#biografia-section > article > h3{
    padding-bottom: 1rem;
}
#biografia-section > article > p {
    padding-bottom: 1rem;
    text-align: justify;
}
#biografia-section > figure {
    max-width: 250px;
    margin: 0;
}
#foto-perro-gafas {
    padding: 1rem .5rem 0 .5rem;
    width: 100%;
}

/* PORTFOLIO.HTML */
#portfolio-section > h2,
#portfolio-section > article {
    padding : 1rem 0.5rem 0 0.5rem;
}
#portfolio-section > article > h3 {
    padding-bottom: 1rem;
}
#images-container {
    width: 100%;
}
#images-container > figure > img {
    width: 100%;
}
#videos-container {
    width: 100%;
}
#videos-container > iframe {
    width: 100%;
}

/* Configuración MÓVIL */
@media screen and (max-width:479px) {
    header {
        background-color: var(--secondary-color);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        width: 50%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        transform: translateX(100%);
        transition: .5s ease-in-out;
    }
    nav {
        width: 100%;
    }
    nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
    }
    nav > ul > li {
        border-bottom: 2px solid var(--accent-color);
        text-align: center;
        width: 50%;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
    }
    nav > ul > li:last-child {
        border-bottom: none;
    }
    nav > ul > li > a {
        color: var(--text-color);
    }
    
    
    
    
    /*Configuración del botón que despliega el nav*/
    #hamburger-span {
        background-color: var(--accent-color);
        width: 30px;
        height: 3px;
            
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 11;
    
        cursor: pointer;
    }
    #hamburger-span::before {
            background-color: var(--accent-color);
            content: '';
            width: 30px;
            height: 3px;
    
            position: absolute;
            top: .5rem;
            left: 0;
    }
    #hamburger-span::after {
            background-color: var(--accent-color);
            content: '';
            width: 30px;
            height: 3px;
    
            position: absolute;
            top: -.5rem;
            left: 0;
    }
    #check {
        display: none;
    }
    #check:checked ~ header {
        transform: translateX(0);
    }
}
/* Configuración TABLET */
@media screen and (min-width: 480px) {

    /* Modificación del header para ponerlo encima de la pantalla */
    #hamburger-span {
        display: none;
    }
    header {
        background-color: var(--secondary-color);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        width: 100%;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .nav-list-item {
        text-align: center;
    }
    .nav-link {
        color: var(--text-color);
        padding: .5rem .5rem;
        position: relative;
    }
    .nav-link::after {
        background-color: var(--accent-color);
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: .2s ease-in-out;
        
    }
    .nav-list-item:hover .nav-link::after {
        transform: scaleX(1);
    }

    /* Escalo el title de la portada */
    main > #title > hr {
        width: 70%;
    }

    #biografia-section {
        width: 60%;
    }
    #portfolio-section {
        max-width: 60%;
    }
    #images-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #images-container > figure {
        width: fit-content;
    }
    #images-container > figure > img {
        max-width: 300px;
        margin: 0.5rem;
    }
    #videos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #videos-container > iframe {
        max-width: 80%;
        margin-bottom: 1rem;
    }

    /* Escalo el formulario de contacto */
    #contacto-section {
        width: 50%;
    }
    form > input {
        width: 80%;
    }
}
/* Configuración LAPTOP */
@media screen and (min-width: 1024px) {
    /* Escalo el title de la portada */
    main > #title > hr {
        width: 50%;
    }
    form > input {
        width: 50%;
    }
}

