:root {
    --primary-color: #3E3C44;
    --secondary-color: #38aff3; /* 158FFF  358fe3 35a3e3*/
    --accent-color: #ff8800; /*FF9900*/
    --text-color: #FFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html {
    height: 100%;
}



/* Configuración MÓVIL */
body {
    color: var(--text-color);
    background-image: url('../assets/img/teclado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100%;
}




/* Diseño del nav */
header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: .5s ease-in-out;
}
/* El nav está desplazado hacia arriba siempre, fuera dela pantalla */
nav {
    width: 100%;
}
nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
nav > ul > li {
    border-bottom: 2px solid var(--accent-color);
    text-align: center;
    width: 50%;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
nav > ul > li:last-child {
    border-bottom: none;
}
nav > ul > li > a {
    color: var(--text-color);
}




/*Configuración del botón que despliega el nav*/
#hamburger-span {
    background-color: var(--accent-color);
    width: 30px;
    height: 3px;
        
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 11;

    cursor: pointer;
}
#hamburger-span::before {
        background-color: var(--accent-color);
        content: '';
        width: 30px;
        height: 3px;

        position: absolute;
        top: .5rem;
        left: 0;
}
#hamburger-span::after {
        background-color: var(--accent-color);
        content: '';
        width: 30px;
        height: 3px;

        position: absolute;
        top: -.5rem;
        left: 0;
}
#check {
    display: none;
}
#check:checked ~ header {
    transform: translateX(0);
}



/*Diseño del main*/
#main-index {
    background: linear-gradient(rgba(0, 0, 0, 0) 35%, rgb(0, 0, 0, .7) 50%, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0, .5));

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100%;
        
}
#main-index > div {
    text-align: center;
    width: 100%;
    padding: 10vw;
        
}
#lastname {
    color: var(--accent-color);
}
hr {
    background-color: var(--secondary-color);
    width: 100%;
    height: 1px;
    border: none;
}

    


/*Diseño del footer:*/
footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
}
.fa {
    color: var(--accent-color);
    font-size: 5rem;
}


/* CONTACTO.HTML */
/* Diseño del formulario */
#main-contacto > section {
    padding: 4rem 1rem 1rem 1rem;
}
form {
    background-color: hsl(202, 89%, 59%, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1.5rem;
}
form > label,
form > div {
    padding: 1rem 0;
}
form > input,
form > textarea {
    width: 90%;
}
form > div > label {
    padding-left: 1rem;
}
form > input[type="submit"] {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 5rem;
    align-self: center;
}